@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #fff;
}
div img {
  margin: 0 auto;
  display: block;
}

.fixed {
  position: fixed;
  right: 100px;
  bottom: 100px;
  width: 50px;
}

.fixed img{
  display: block;
  width: 50px;
}

.fixed:hover {
  opacity: 0.8;
}

.fixed2 {
  position: fixed;
  right: 100px;
  bottom: 40px;
  width: 50px;
}

.fixed2 img{
  display: block;
  width: 50px;
}

.fixed2:hover {
  opacity: 0.8;
}
